#left-column{
    float: left;
    width: 33%;
    border: 1px solid black;
}

#middle-column{
    float: left;
    width: 33%;
    border: 1px solid black;
}

#right-column{
    float: left;
    width: 33%;
    border: 1px solid black;
}

#footer{
    clear: both;
    width: 100%;
    border: 2px solid black;
    text-align: center;
}

#text{
    background-color: yellow;
}