#red{
    background-color: red;
    opacity: 0.75;
    width: 100px;
    height: 150px;
    float: left;
}

#green{
    background-color: green;
    opacity: 0.75;
    width: 75px;
    height: 200px;
    float: right;
}

#blue{
    background-color: blue;
    width: 100px;
    height: 225px;
    clear: both;
}

#left-column{
    float: left;
    width: 33%;
    border: 1px solid black;
}

#middle-column{
    float: left;
    width: 33%;
    border: 1px solid black;
}

#right-column{
    float: left;
    width: 33%;
    border: 1px solid black;
}

#footer{
    clear: both;
    width: 99%;
    border: 2px solid black;
    text-align: center;
}

#text{
    background-color: yellow;
}